@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "brilliant-san-serif";
  src: url("./assets/fonts/brilliant-san-serif.woff2") format("woff2");
}

@font-face {
  font-family: "brilliant-serif";
  src: url("./assets/fonts/brilliant-serif.woff2") format("woff2");
}

.pushable {
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 3px;
  transition: all 0.2s;
}

.pushable:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.front {
  display: block;
  transform: translateY(-4px);
}

.pushable:active .front {
  transform: translateY(-2px);
}
